@media screen and (min-width: 1200px) {
    
    .container {
        width: 1158px;
    } 

    .header {
        border-bottom: 1px solid var(--CORNFLOWER);
        height: 76px;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

    .header-logo-web{
        font-family: 'Raleway', sans-serif;;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--IRIS);
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        margin-right: 76px;
    }

    .header-logo-studio {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--NAVY-BLUE);
    }
    .header-list {
        display: flex;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .address {
        font-style: normal;
    }

    .address-list {
        display: flex;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: 332px;
    }

    .header-nav {
        display: flex;
        margin-right: auto;
    }

    .header-item {
        display: flex;
        position: relative;
    }

    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--NAVY-BLUE);
        display: block;
        position: relative;
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link:hover {
        color:#404bbf;
        display: block;
        width: 100%;
        opacity: 1;
    }
    .header-link:focus {
        color:#404bbf;
        display: block;
        width: 100%;
        opacity: 1;
    }

    .header-mail {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--SLATE);
        display: flex;
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-mail:hover {
        color:#404bbf;
        display: ;
        width: 100%;
        opacity: 1;
    }
    .header-mail:focus {
        color:#404bbf;
        display: ;
        width: 100%;
        opacity: 1;
    }

    .header-link::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
        display: block;
        background-color: var(--OCEAN);
        border-radius: 2px;
        transition: ;
        margin-top: 20px;
        top: 34px;
        transform: translateY(-125%);
        display: none;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link:hover::after {
        display: block;
        width: 100%;
        opacity: 1;
    }

    .header-link:focus::after {
        display: block;
        width: 100%;
        opacity: 1;
    } 

    .portfolio-title {
        flex-basis: calc(100%/3-(24px));
        gap: 48px;
    }
    .portfolio-about {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
        margin-bottom: 48px;
    }
    .section {
        padding-top: 64px;
        padding-bottom: 96px;    
    }   
    .section-about-position {
        justify-content: center;
        display: flex;
        margin-top: 120px;
        margin-bottom: 120px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .about-info {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color:var(--NAVY-BLUE);
        margin-bottom: 72px;
    }
    .about-title {
        display: flex;
        gap: 24px;
    }
    .strategy-title {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--NAVY-BLUE);
        margin-bottom: 8px;
    }
    .strategy-subtitle {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--SLATE);  
        font-weight: 400;    
    }
    .strategy-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        background: var(--CLOUD);
        border-radius: 4px;
        margin-bottom: 8px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .strategy-icons
    {
        display: flex;
        width: 64px;
        height: 64px;
    }
    .strategy-list {
        flex-wrap: nowrap;
    }

    .order-service {
        background-color:var(--NAVY-BLUE);
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),      
        url(../images/people-office-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        max-width: 1440px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 188px;
    }
    .order-title {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-top: 0;
        width: 496px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .order-service {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ), 
    url(../images/people-office-1-2x.jpg);

    }}

    .header-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        background-color:var(--IRIS);
        text-align: center;
        width: 169px;
        height: 56px;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-btn:hover {
        background-color: var(--OCEAN);
        opacity: 1;
    }
    .header-btn:focus {
        background-color: var(--OCEAN);
        opacity: 1;
    }

    .customers {
        padding-top: 120px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42; 
        margin-bottom: 72px;
    }

    .customers-content {
        padding-bottom: 120px;
        column-gap: 24px;
    }
    .customers-list {
        width: 168px;
        height: 88px;
        border: 1px solid #8E8F99;
        border-radius: 4px;   
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .customers-icon {
        fill: #8E8F99;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 32px;
        margin-right: 32px;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .customers-list:hover 
    {
        border-color:var(--OCEAN);  
        opacity: 1;
    } 
    .customers-list:focus 
    {
        border-color:var(--OCEAN);  
        opacity: 1;
    } 

    .customers-list:hover .customers-icon
    {
        opacity: 1;
        fill: var(--OCEAN);
    } 
    .customers-list:focus .customers-icon
    {
        opacity: 1;
        fill: var(--OCEAN);
    }

    .hero {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color:var(--NAVY-BLUE);
        padding-top: 120px;
        padding-bottom: 72px;
    }
    .hero-container {
        background-color:var(--CLOUD);
        margin-top: ;
        text-align: ;
        text-align: center;
    }
    .hero-list {
        display: flex;
        text-align: center;
        padding-bottom: 120px;
        gap: 24px;
        padding-left: 0;
        padding-right: 0;
    }
    .hero-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--NAVY-BLUE);
        margin-bottom: 8px;
    }
    .hero-subtitle {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--SLATE);  
        font-weight: 400;
        
    }
    .hero-border {
        max-width: 264px;
        text-align: center;
        gap: 32px;
        background-color: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
    }
    
    .hero-content {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .footer {
        background-color:var(--NAVY-BLUE);
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .footer-position {
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
    }

    .footer-position-tablet {
        padding-bottom: 0;
        gap: 0;
    }


    .footer-logo-position {
        margin-right: 120px;
    }
    
    .footer-soc-tablet {
        padding-right: 0;
        padding-left: 120px;
    } 


    .footer-logo-web {
        font-family: 'Raleway', sans-serif;;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--IRIS);
        margin-right: 120px;
        padding-left: 36px;
    }
    
    .footer-logo-studio {
        color: #f4f4fd;
    }
    .footer-logo-text {
        color: var(--CORNFLOWER);
        margin-top: 16px;
        font-weight: 400;
        font-size: 1.5;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #E7E9FC;
        padding-left: 36px;
    }
    
    .footer-soc {
        margin-right: 80px;
    }
    
    .footer-soc-title
    {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
    }
    
    .footer-soc-list {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 16px;
    }
    .footer-team-soc-item {
        width: 40px;
        height: 40px;
    }
    
    .footer-team-soc-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer-team-soc-icon {
        fill: var(--CLOUD);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .footer-team-soc-link:hover {
        background-color:var(--GREEN);
        opacity: 1;
    } 
    .footer-team-soc-link:focus {
        background-color: var(--GREEN);
        opacity: 1;
    }

    .footer-soc-subcribe {
        margin-left: 80px;
        padding-left: 0;
    }
    .footer-soc-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--WHITE);
        margin-bottom: 16px;
    }
    .footer-subcribe-form {
        display: flex;
    }
    .subcribe-container-container {
        display: flex;
    }
    .subcribe-input {
        padding: 8px 16px 8px 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: transparent;
        width: 264px;
        margin-right: 24px;
        color: var(--WHITE);
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .subscribe-btn {
        width: 165px;
        padding: 8px 24px;
        background-color: var(--IRIS);
        border-radius: 4px;
        border: transparent;
        display: flex;
        gap: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--WHITE);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }
    .subscribe-input-icon {
        width: 24px;
        height: 24px;
    }
    .subscribe-input-wrap {
        display: flex;
    }
    
  
}
/* footer откоректируй свойства */