@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }

    /* .header-nav {
        display: flex;
        margin-right: auto;
    } */

    .header {
        border-bottom: 1px solid var(--CORNFLOWER);
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .strategy-wrap {
        display: none;
    }
    .strategy-icons {
        display: none;
    }
}

@media screen and (min-width: 300px), (max-width: 767px) {

    .hero-border {
        margin-left: auto;
        margin-right: auto;
    }
    .hero-list {
        row-gap: 72px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 96px;
    }
    .hero-title {
        padding-top: 32px;
        padding-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    .hero-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
        padding-bottom: 8px;
    }
    .team-soc-list {
        padding-bottom: 32px;
    }
} 