@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }

    .header-nav {
        display: flex;
        margin-right: auto;
    }

    .header {
        border-bottom: 1px solid var(--CORNFLOWER);
        height: 76px;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .header-logo-web{
        font-family: 'Raleway', sans-serif;;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--IRIS);
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        margin-right: 76px;
    }

    .header-logo-studio {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--NAVY-BLUE);
    }
    .customers-list {
      
    }
    .strategy-wrap {
        display: none;
    }
    .strategy-icons {
        display: none;
    }
}