@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }
    .container-portfolio {
        width: 428px;
    }
    /* .customers-list {
        width: 190px;
        height: 88px;
    } */
    .strategy-wrap {
        display: none;
    }
    .strategy-icons {
        display: none;
    }

}