@media screen and (min-width: 768px) {
 
    .container {
        width: 768px;
    }
    
    .container-portfolio {
        width: 768px;
    }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;    
    }
    .section-position {
        padding-top: 96px;
        padding-bottom: 96px;  
    }
    
    .portfolio-about > .portfolio-title {
        width: calc((100%- 24px) / 2);
    }
    .portfolio-about > .portfolio-title {
        width: 480px;
    }
    .strategy-wrap {
        display: none;
    }
    .strategy-icons {
        display: none;
    }
    .strategy-position {
        width: calc((100% - 24px) / 2);
    }
    .strategy-list {
        gap: 24px;
    }
    .order-title {
        padding-top: 112px;
        padding-left: 54px;
        padding-right: 54px;
        padding-bottom: 72px;
        font-size: 36px;
        line-height: 1.17;
        color: #ffffff;
    } 
    .order-service {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ), 
        url(../images/hero-bg-tab.jpg);
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .order-service {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ), 
    url(../images/hero-bg-tab-2x.jpg);
  }

  .customers-content {
    row-gap: 72px;
    column-gap: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .customers-list {
    width: 168px;

  }

}
